<ion-tabs class="tabs-icon-top tabs-color-active-positive">

 <!-- <ion-tab title="Menu de abajo tabs.html" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>-->

  <ion-tab title="ALBUMES" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>

  <ion-tab title="ALBUM" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/album">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>


</ion-tabs>
